<div class="row mt-5 mb-5">
    
    <div class="col m-5">
        <h1>Neural Networks!</h1>
    </div>
    <div class="col m-5">
        <p>Using Node.js, Express.js, and multiple youtube playlist im learning how neural networks function and soon with know how to make them.</p>
    </div>
    <hr>

    <div class="col m-5">
        <h2>Useful links</h2>
        <ul>
            <li><a href="https://github.com/cazala/synaptic" target="_blank">Synapic</a></li>
            <li><a href="https://www.youtube.com/@giantneuralnetwork/featured" target="_blank">giant_neural_network (YT)</a></li>
            <ul>
                <li><a href="https://www.youtube.com/playlist?list=PLxt59R_fWVzT9bDxA76AHm3ig0Gg9S3So" target="_blank">playlist for learning neural networks</a></li>
            </ul>
            <li><a href="https://www.youtube.com/@3blue1brown" target="_blank">3Blue1Brown (YT)</a></li>
            <ul>
                <li><a href="https://www.youtube.com/playlist?list=PLZHQObOWTQDNU6R1_67000Dx_ZCJB-3pi" target="_blank">playlist about neural networks</a></li>
                <li><a href="https://www.youtube.com/playlist?list=PLZHQObOWTQDPD3MizzM2xVFitgF8hE_ab" target="_blank">Playlist Essence of Linear Algebra</a></li>
                <li><a href="https://www.youtube.com/playlist?list=PLZHQObOWTQDMsr9K-rj53DwVRMYO3t5Yr" target="_blank">Playlist Essence of Calculus</a></li>
                <li><a href="https://www.youtube.com/playlist?list=PLZHQObOWTQDNPOjrT6KVlfJuKtYTftqH6" target="_blank">Playlist Differentail Equations</a></li>
            </ul>
            <li><a href="https://en.wikipedia.org/wiki/Backpropagation" target="_blank">Backpropagation Wikipedia</a></li>
            <li><a href="https://mattmazur.com/2015/03/17/a-step-by-step-backpropagation-example/" target="_blank">Backpropagation expalained</a></li>
            <li><a href="http://neuralnetworksanddeeplearning.com/" target="_blank">NN book by Michael Nielsen</a></li>
            <ul>
                <li><a href="https://github.com/mnielsen/neural-networks-and-deep-learning" target="_blank">python code for NN</a></li>
            </ul>
            <li><a href="https://colah.github.io/" target="_blank">Chris Olah blog on NN</a></li>
            <li><a href="https://github.com/MrHeadbang/machineLearning/blob/main/mnist.zip" target="_blank">MNiST Dataset download</a></li>
        </ul>
    </div>
    
    <div class="col m-5">
        <img src="/public/images/activation-function.webp" width="400px" />
    </div>

</div>