<div class="row">
    <div class="col">
        <div>
            <h1 class="title ">Flower color guesser NN</h1>
        </div>

        <div>
            <form action="" id="flowersNN">
                <label>Length of petal:&nbsp; </label><input type="number" step='0.1' id="userLengthInput" placeholder="4"><br>
                <label>Width of petal:&nbsp; </label><input type="number" step='0.1' id="userWidthInput" placeholder="2"><br>
                <button type="submit">Calculate</button>
            </form>
        </div>

        <h1>0 = blue | 1 = red</h1>
        <div class="" id="nn1Outputs">

        </div>
    </div>
    <div class="col">
        <img src="/public/images/flower_NN_dataset.webp" width="400px" />
        <p> Training with derivatives of partial differentiable equation. </p>
    </div>
</div>