<div class="row">
    <div class="col">
        <a href="/"><h4>Nueral Networks</h4></a>
    </div>

    <% for(let i=0; i<3; i++) { %>
        <div class="col">
            <a class="text-center" href="/nn<%= i %>">
                Link <%= i+1 %>
            </a>
        </div>
    <% } %>

</div> <hr>