<div class="row mt-4">
    <div class="col-2">
        <a class=" nav-link" href="/"><h4>Nueral Networks</h4></a>
    </div>
    <div class="col-2">
        <a class="text-center nav-link" href="/nn0">XOR Neural Network</a>
    </div>
    <div class="col-2">
        <a class="text-center nav-link" href="/nn1">Neural Network Two</a>
    </div>
    <div class="col-2">
        <a class="text-center nav-link" href="/nn2">Neural Network Three</a>
    </div>
</div><hr>