p, h1, h2, h3, h4, h5 {
    color: var(--black) !important;
}

body {
    background-color: var(--white) !important;
}

/* ~~~~~ COLORS ~~~~~~ */

:root {
    --black: #172121; 
    --gray: #85756E;
    --white: #F6F4F3; 
    --green: #5DA399;
}
#loading {
    color: var(--black);
}

#loading,
#loading:after {
  box-sizing: border-box;
}
#loading {
  display: inline-block;
  width: 80px;
  height: 80px;
}
#loading:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6.4px solid currentColor;
  border-color: currentColor transparent currentColor transparent;
  animation: loading 1.2s linear infinite;
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

